apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: k2v-bridge
  namespace: {{ dojot_namespace }}
spec:
  serviceName: "k2v-bridge"
  selector:
    matchLabels:
      app: k2v-bridge
  replicas: {{ dojot_vernemq_mqtt_replicas_to_scale }}
  template:
    metadata:
      labels:
        app: k2v-bridge
    spec:
      containers:
      - name: k2v-bridge
        image: dojot/k2v-bridge:{{ dojot_k2v_version}}
        env:
        - name: AUTH_URL
          value: "http://auth:5000"
        - name: DATA_BROKER
          value: "http://data-broker"
        - name: DATA_BROKER_DNS
          value: "data-broker"
        - name: DATA_BROKER_PORT
          value: "80"
        - name: KAFKA_HOSTS
          value: "kafka-server:9092"
        - name: DOJOT_MQTT_HOST
          value: "vernemq-k8s"
        - name: DOJOT_MQTT_PORT
          value: "8883"
        - name: SERVER_HOSTNAME
          value: "k2v-bridge"
        - name: EJBCA_HOSTNAME
          value: "ejbca-wrapper"
        - name: EJBCA_PORT
          value: "5583"
        - name: LOG_LEVEL
          value: "info"
