apiVersion: v1
kind: Secret
metadata:
  name: mongodb-secret
  namespace: {{ dojot_namespace }}
type: Opaque
data:
  user: {{ dojot_mongodb_super_user | b64encode }}
  password: {{ dojot_mongodb_super_passwd | b64encode }}
