---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    name: mongodb
    app: dojot
  name: mongodb
  namespace: {{ dojot_namespace }}
spec:
  replicas: 1
  template:
    metadata:
      labels:
        name: mongodb
        app: dojot
    spec:
      restartPolicy: Always
      containers:
      - image: mongo:{{ dojot_mongodb_version }}
        name: mongodb
#        command: TODO: Check if a command is necessary e.g. smallfilles, replicaset, prealloc
# TODO: Support different values for user and password
#        env:
#          - name: 'MONGO_INITDB_ROOT_USERNAME'
#            valueFrom:
#              secretKeyRef:
#                name: mongodb-secret
#                key: user
#          - name: 'MONGO_INITDB_ROOT_PASSWORD'
#            valueFrom:
#              secretKeyRef:
#                name: mongodb-secret
#                key: password
{% if dojot_mongodb_persistent_volumes %}
        volumeMounts:
          - name: mongodb-volume
            mountPath: /data/db
      volumes:
      - name: mongodb-volume
        persistentVolumeClaim:
          claimName: mongodb-volume-claim
{% endif %} 

# TODO: View deploy strategies
