apiVersion: v1
kind: Secret
metadata:
  name: image-manager-secret
  namespace: {{ dojot_namespace }}
type: Opaque
data:
  user: {{ dojot_psql_auth_user | b64encode }}
  password: {{ dojot_psql_auth_passwd | b64encode }}

