version: '3'
services:
  locust-slave:
    image: dojot/locust:v0.5.0-alpha.4
    command: bash slave_entrypoint.sh
    volumes:
      # If you need to change code while running the container, activate this volume:
      # - ../src:/usr/src/app/src
      # If you only need to generate certificates, activate this volume instead:
      - ../cert:/usr/src/app/cert
    environment:
      DOJOT_URL: "http://127.0.0.1:8000"
      DOJOT_MQTT_HOST: "127.0.0.1"
      # TODO: differentiate DOJOT_MQTT_PORT and DOJOT_MQTTS_PORT variables
      DOJOT_MQTT_PORT: "1883"
      DOJOT_MQTT_TIMEOUT: "120"
      DOJOT_ENV: "n"

      LOCUST_MASTER_HOST: "locust-master"

      REDIS_HOST: "redis"
      REDIS_PORT: "6379"
      REDIS_PASSWD: ""

      TASK_MIN_TIME: "29500"
      TASK_MAX_TIME: "30000"

      RENEW_DEVICES: "False"
      DEVICES_TO_RENEW: 1000
      TIME_TO_RENEW: 1000
      PROBABILITY_TO_RENEW: "10"

      REVOKE_DEVICES: "False"
      DEVICES_TO_REVOKE: 1000
      TIME_TO_REVOKE: 1000
      PROBABILITY_TO_REVOKE: "10"

networks:
  default:
    external:
      name: docker_default
