apiVersion: v1
kind: Service
metadata:
  labels:
    name: gui
  name: gui
  namespace: {{ dojot_namespace }}
spec:
  ports:
  - name: "http"
    port: 80
    targetPort: 80
  selector:
    name: gui
    app: dojot
