apiVersion: v1
kind: Secret
metadata:
  name: devm-secret
  namespace: {{ dojot_namespace }}
type: Opaque
data:
  user: {{ dojot_psql_devm_user | b64encode }}
  password: {{ dojot_psql_devm_passwd | b64encode }}
  crypto_pass: {{ dojot_devm_crypto_pass | b64encode }}
  crypto_iv: {{ dojot_devm_crypto_iv | b64encode }}
  crypto_salt: {{ dojot_devm_crypto_salt | b64encode }}
