apiVersion: v1
kind: Service
metadata:
  labels:
    name: device-manager
  name: device-manager
  namespace: {{ dojot_namespace }}
spec:
  type: NodePort
  ports:
  - port: 5000
    targetPort: 5000
    nodePort: 30006
  selector:
    name: device-manager
    app: dojot
