version: "3"
services:
  generate-certs:
    build:
      context: ../../../
      dockerfile: ./Docker/scripts/generate_certs/Dockerfile
    volumes:
      # If you need to change code while running the container, activate this volume:
      # - ../../..:/usr/src/app
      # If you only need to generate certificates, activate this volume instead:
      - ../../../cert:/usr/src/app/cert
    environment:
      DOJOT_URL: "http://127.0.0.1:8000"
      DOJOT_MQTT_HOST: "127.0.0.1"
      DOJOT_MQTT_PORT: "1883"
      DOJOT_ENV: "n"

      REDIS_HOST: "redis"
      REDIS_PORT: "6379"

networks:
  default:
    external:
      name: docker_default