version: "3"
services:
  generate-certs:
    image: dojot/generate_certs:development
    volumes:
      # If you need to change code while running the container, activate this volume:
      # - ../../../src:/usr/src/app/src
      # If you only need to generate certificates, activate this volume instead:
      - ../../../cert:/usr/src/app/cert
    environment:
      DOJOT_URL: "http://127.0.0.1:8000"
      DOJOT_MQTT_HOST: "127.0.0.1"
      DOJOT_MQTT_PORT: "1883"
      DOJOT_ENV: "n"

      EJBCA_URL: "http://localhost:5583"

      REDIS_HOST: "redis"
      REDIS_PORT: "6379"

networks:
  default:
    external:
      name: docker_default
