apiVersion: v1
kind: Service
metadata:
  labels:
    name: auth
  name: auth
  namespace: {{ dojot_namespace }}
spec:
  ports:
  - port: 5000
    targetPort: 5000
  selector:
    name: auth
    app: dojot
