apiVersion: v1
kind: Secret
metadata:
  name: auth-secret
  namespace: {{ dojot_namespace }}
type: Opaque
data:
  user: {{ dojot_psql_auth_user | b64encode }}
  password: {{ dojot_psql_auth_passwd | b64encode }}
{% if dojot_auth_email_enabled %}
  email_host: {{ dojot_auth_email_host | b64encode }}
  email_user: {{ dojot_auth_email_user | b64encode }}
  email_passwd: {{ dojot_auth_email_passwd | b64encode }}
{% endif %}

