apiVersion: v1
kind: Secret
metadata:
  name: kong-secret
  namespace: {{ dojot_namespace }}
type: Opaque
data:
  user: {{ dojot_psql_kong_user | b64encode }}
  password: {{ dojot_psql_kong_passwd | b64encode }}
  db: {{ dojot_psql_kong_db | b64encode }}
