apiVersion: v1
kind: Service
metadata:
  name: postgres-ejbca
  namespace: {{ dojot_namespace }}
spec:
  type: ClusterIP 
  selector:
    app: postgres-ejbca
  ports:
  - name: postgres-ejbca
    port: 5433
    targetPort: 5432