apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-ejbca
  namespace: {{ dojot_namespace }}
spec:
  selector:
    matchLabels:
      app: postgres-ejbca
  replicas: 1
  template: #templates for the pods
    metadata:
      labels:
        app: postgres-ejbca
    spec:
      containers:
        - name: postgres-ejbca
          image: library/postgres
          env:
          - name: POSTGRES_USER
            value: "youruser"
          - name: POSTGRES_PASSWORD
            value: "yourpassword"
          - name: POSTGRES_DB
            value: "ejbca_db"
          volumeMounts:
            - mountPath: /var/lib/postgresql/data
              name: postgredb
          ports:
            - containerPort: 5432
      volumes:
        - name: postgredb
          persistentVolumeClaim:
            claimName: postgres-pv-claim