apiVersion: v1
kind: Service
metadata:
  labels:
    app: pub-laten-kafka-prom
  name: pub-laten-kafka-prom
  namespace: {{ dojot_namespace }}
spec:
  ports:
  - name: http
    port: 3055
  selector:
    app: pub-laten-kafka-prom
