apiVersion: v1
kind: Service
metadata:
  labels:
    name: minio
  name: minio
  namespace: {{ dojot_namespace }}  
spec:
  ports:
    - name: minio
      port: {{ dojot_minio_port }}
      targetPort: {{ dojot_minio_port }}
  clusterIP: None
  selector:
    name: minio
    app: dojot