apiVersion: v1
kind: Service
metadata:
  labels:
    name: data-manager
  name: data-manager
  namespace: {{ dojot_namespace }}
spec:
  ports:
  - port: 3000
    targetPort: 3000
  selector:
    name: data-manager
    app: dojot
