%%-*- mode: erlang -*-
{deps, [
        {vernemq_dev, {git, "https://github.com/erlio/vernemq_dev.git", {branch, "master"}}}
       ]}.

{relx, [{release, {dojot_disconnect_plugin, "0.0.1"},
         [dojot_disconnect_plugin]},
        {release, {dojot_disconnect_plugin, "0.1.0"},
         [dojot_disconnect_plugin]},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]}.