apiVersion: policy/v1beta1
kind: PodDisruptionBudget
metadata:
  name: kafka-pdb
  namespace: {{ dojot_namespace }}
spec:
  selector:
    matchLabels:
      app: dojot
      name: kafka-server
  minAvailable: 50%
