apiVersion: v1
kind: Service
metadata:
  labels:
    name: kafka-server
  name: kafka-server
  namespace: {{ dojot_namespace }}
spec:
  ports:
  - name: kafka-server
    port: {{ dojot_kafka_port }}
    targetPort: server
  clusterIP: None
  selector:
    name: kafka-server
    app: dojot