apiVersion: v1
kind: Service
metadata:
  labels:
    name: data-broker
  name: data-broker
  namespace: {{ dojot_namespace }}
spec:
  type: NodePort
  ports:
  - port: 80
    targetPort: 80
    nodePort: 30004
  selector:
    name: data-broker
    app: dojot
