apiVersion: v1
kind: Service
metadata:
  labels:
    name: data-broker-redis
  name: data-broker-redis
  namespace: {{ dojot_namespace }}
spec:
  ports:
  - port: 6379
    targetPort: 6379
  selector:
    name: data-broker-redis
    app: dojot
