---
apiVersion: v1
kind: Service
metadata:
  name: zookeeper-cluster
  namespace: {{ dojot_namespace }}
  labels:
    app: dojot
    name: zookeeper-cluster
spec:
  ports:
  - port: {{ dojot_zk_server_port }}
    name: server
    targetPort: server
  - port: {{ dojot_zk_election_port }}
    name: leader-election
    targetPort: leader-election
  - port: {{ dojot_zk_client_port }}
    name: client
    targetPort: client
  clusterIP: None
  selector:
    app: dojot
    name: zookeeper
